*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
header,.one{
  display: flex;
  flex-direction: row;
}
header{
  width: 100%;
  height: 200px;
  background: rgb(74, 149, 208);
  justify-content: center;
  align-items: center;
}
input{
  width: 50%;
  height: 40px;
  border: none;
  text-indent: 10px;
}
button{
  width: 80px;
  height: 40px;
  border: none;
  background: rgba(75, 196, 38, 0.76);
}
.one{
  width: 100%;
  flex-wrap: wrap;
}
img{
  width: 25%;
  height: 250px;
}
.error{
  position: absolute;
  top:320px;
  left:50%;
  transform: translateX(-50%);
  width: 50%;
  height: 150px;
  background: rgb(195, 50, 50);
  color: #ffffff;
  text-align: center;
  line-height: 150px;
  font-family: "Ubuntu",sans-serif;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  img{
    width: 100%;
  }
}
